In [14]:
from sagas.ofbiz.services import OfService as s, oc, track
from sagas.ofbiz.entities import OfEntity as e
from sagas.ofbiz.date_time import DateTime

ok,r=s().createPerson(firstName='Kid', 
                      lastName='Person',
                      birthDate=DateTime.date('2010-12-10'))
partyId=r['partyId']

In [12]:
from sagas.ofbiz.date_time import DateTime
DateTime.date('2010-12-10')

JavaObject id=o6002

In [13]:
e('meta').Person

   internal                      name primary            type      field type
0                             partyId       *              id              id
1                          salutation                    name            name
2                           firstName                    name            name
3                          middleName                    name            name
4                            lastName                    name            name
5                       personalTitle                    name            name
6                              suffix                    name            name
7                            nickname                    name            name
8                      firstNameLocal                    name            name
9                     middleNameLocal                    name            name
10                      lastNameLocal                    name            name
11                         otherLocal                    name            name
12                           memberId                      id              id
13                             gender               indicator       indicator
14                          birthDate                    date            date
15                       deceasedDate                    date            date
16                             height          floating-point  floating-point
17                             weight          floating-point  floating-point
18                  mothersMaidenName            long-varchar    long-varchar
19                      maritalStatus               indicator       indicator
20               socialSecurityNumber            long-varchar    long-varchar
21                     passportNumber            long-varchar    long-varchar
22                 passportExpireDate                    date            date
23           totalYearsWorkExperience          floating-point  floating-point
24                           comments                 comment         comment
25             employmentStatusEnumId                      id              id
26              residenceStatusEnumId                      id              id
27                         occupation                    name            name
28                  yearsWithEmployer                 numeric         numeric
29                 monthsWithEmployer                 numeric         numeric
30                   existingCustomer               indicator       indicator
31                             cardId                 id-long         id-long
32        *          lastUpdatedStamp               date-time       date-time
33        *        lastUpdatedTxStamp               date-time       date-time
34        *              createdStamp               date-time       date-time
35        *            createdTxStamp               date-time       date-time

In [18]:
ok,r=s().createPerson(firstName='吴', 
                      lastName='小飞',
                      birthDate=DateTime.date('1999-12-10'))
partyId=r['partyId']

In [19]:
print(e().refParty(partyId)['partyTypeId'])
p=e().refPerson(partyId)
print(p['firstName'], p['lastName'])

PERSON
吴 小飞

In [20]:
e('json').refPerson(partyId)

'{"yearsWithEmployer":null,"lastName":"小飞","occupation":null,"gender":null,"employmentStatusEnumId":null,"socialSecurityNumber":null,"createdStamp":1550327797315,"suffix":null,"mothersMaidenName":null,"middleNameLocal":null,"existingCustomer":null,"residenceStatusEnumId":null,"nickname":null,"partyId":"10004","memberId":null,"height":null,"passportNumber":null,"lastUpdatedStamp":1550327797315,"lastNameLocal":null,"comments":null,"monthsWithEmployer":null,"createdTxStamp":1550327797300,"weight":null,"lastUpdatedTxStamp":1550327797300,"birthDate":944755200000,"otherLocal":null,"firstName":"吴","cardId":null,"middleName":null,"firstNameLocal":null,"passportExpireDate":null,"salutation":null,"personalTitle":null,"deceasedDate":null,"totalYearsWorkExperience":null,"maritalStatus":null}'